.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/shared/notebooks/paths
.Rproj.user/30DFEE61/pcs/files-pane.pper
.Rproj.user/30DFEE61/pcs/source-pane.pper
.Rproj.user/30DFEE61/pcs/windowlayoutstate.pper
.Rproj.user/30DFEE61/pcs/workbench-pane.pper
.Rproj.user/30DFEE61/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
